* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
   
    --headerbg: rgba(0, 0, 0, 1);
    --color: rgba(255, 255, 255, 1);
    --bgCars: rgba(0, 0, 0, .8);

}

.light-mode {
    --color: rgba(0, 0, 0, 1);
    --bgCars: rgba(0, 0, 0, .1);
    --headerbg: rgba(0, 0, 0, .1);
}

body {
    color: var(--color);
    
}

header {
    background-color: rgba(0, 0, 0, .9);
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    color:var(--color);
  
}

.logo {
    display: flex;
}

header nav {
    margin-top: 10px;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: var(--color);
    margin-left: 30px;
} 

.container h3 {
    margin-top: 20px;
    font-family: monospace;
    font-style: italic;
    font-size: bold;
}

.col-md-4 {
    margin: 20px 0;
}

.card-body {
    background-color: var(--bgCars) ;
    color: var(--color);
    
}

.card-body a {
    color: var(--color);
    border: 1px solid;
}

#titulodesc {
    margin: 10px auto auto 20px;
}

#descricaoCarro {
    margin: 20px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
}

footer {
    background: var(--headerbg);
    padding: 20px 0;

}
.container-2 {
    margin: auto 30px;
    display:flex;
    justify-content:space-between;
    gap: 50px;
    flex-wrap:wrap
   
}

#slogan p {
    max-width: 520px;
    height: 0;
}

#links {
    margin-top: 40px;
}

footer nav a {
    text-decoration: none;
    color: var(--color);
    margin-bottom: 5px;
    display: block;
}
.logo-footer {
    display: flex;
    padding: 15px 0;
    
}

#contatos {
    margin-top: 40px;
}

#contatos a {
    text-decoration: none;
    color: var(--color);
    
}

#copy {
    padding: 10px;
}

#copy a {
    color: rgb(44, 173, 248);
    font-weight: bold;
    
}